@model ArticleIndexViewModel
@{
    Layout = "_LayoutArticle";
    ViewData["categoryList"] = Model.categories;
    ViewData["pageTitle"] = "Makale -"+Model.articleContent.ArticleHead;
}

<div class="container mt-2 mb-1 container-background">
    <!-- Article Head start -->
    <div class="row"><h3 class="mx-2 my-3">@Model.articleContent.ArticleHead</h3></div>
    <!-- Article Head start -->

    <!--Article Abstract start-->
    <div class="row px-2 py-3">@Model.articleContent.ArticleAbstract</div>
    <!-- Article Abstract end-->

    <!--Article content Start-->
    <div class="row p-3">@Model.articleContent.ArticleContent</div>
    <!--Article content end-->
</div>

<!-- Comment block -->
<div class="container">
    <!-- There is no comment -->
    @if(Model.articleContent.Comment.Count == 0){
        <div class="row justify-content-center">
            <h3>There is no comment here.</h3>
        </div>
    }

    @foreach (var item in Model.articleContent.Comment)
    {
        <!-- Comment block start-->
        <div class="row my-2 border-bottom border-dark">
            <div class="col-2 col-lg-1 justify-content-center">
                <i class="fas fa-user-tie fa-3x align-middle"></i>
            </div>
            <div class="col-10 col-lg-11">
                <p class="py-0 my-0"><strong>@item.CommentFullname</strong></p>
                <p class="my-0 py-0">@item.CommentContent</p>
                <span class="border-bottom-1"></span>
            </div>
        </div>
        <!-- Comment block end -->
    }
    <!-- Comment form block start -->
    <div class="row mt-3">
        <form method="post" action="/Article/Index" style="width:100%">
            <div class="form-group">
                <div class="row my-2">
                    <div class="col-2">
                        <label for="userName"><strong>Ad覺n覺z Soyad覺n覺z:</strong></label>
                    </div>
                    <div class="col-6">
                        <input type="text" name="commentFullName" class="form-control form-control-sm" id="userName" required>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-2">
                        <label for="mailAddress"><strong>Mail adresiniz</strong></label>
                    </div>
                    <div class="col-6">
                        <input type="text" name="commentMail" class="form-control form-control-sm" id="mailAddress" required>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-2">
                        <label for="comment"><strong>Yorumunuz</strong></label>
                    </div>
                    <div class="col-6">
                        <textarea name="commentContent" class="form-control" id="comment" rows="5" style="resize:none" required></textarea>
                    </div>
                    <div class="invisible">
                        <input type="text" name="articleId" value="@Model.articleContent.ArticleID">
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-8">
                        <div class="row justify-content-end pr-3">
                            <button type="submit" class="btn btn-dark">Yorum Yap</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Comment form block end -->

</div>